@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);
@import "fonts/fonts.css";
@import "slider.css";
@import "owl.carousel.css";
@import "owl.theme.css";
@import "owl.transitions.css";
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.3;
  height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 11pt;
  min-width: 1000px;
  color: #222c2c;
  background: #fff;
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 0;
  margin: 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.main-container {
  margin: auto;
  width: 980px;
}
.sprite {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-1 {
  background-position: -5px -5px;
  width: 13px;
  height: 15px;
}
.sprite-10 {
  background-position: -28px -5px;
  width: 208px;
  height: 44px;
}
.sprite-11 {
  background-position: -246px -5px;
  width: 17px;
  height: 30px;
}
.sprite-12 {
  background-position: -273px -5px;
  width: 17px;
  height: 30px;
}
.sprite-13 {
  background-position: -300px -5px;
  width: 16px;
  height: 14px;
}
.sprite-14 {
  background-position: -326px -5px;
  width: 16px;
  height: 22px;
}
.sprite-15 {
  background-position: -300px -37px;
  width: 22px;
  height: 32px;
}
.sprite-16 {
  background-position: -5px -79px;
  width: 23px;
  height: 24px;
}
.sprite-17 {
  background-position: -38px -79px;
  width: 20px;
  height: 28px;
}
.sprite-18 {
  background-position: -68px -79px;
  width: 25px;
  height: 25px;
}
.sprite-19 {
  background-position: -103px -79px;
  width: 25px;
  height: 25px;
}
.sprite-2 {
  background-position: -138px -79px;
  width: 21px;
  height: 21px;
}
.sprite-20 {
  background-position: -169px -79px;
  width: 25px;
  height: 25px;
}
.sprite-21 {
  background-position: -204px -79px;
  width: 24px;
  height: 20px;
}
.sprite-22 {
  background-position: -238px -79px;
  width: 29px;
  height: 18px;
}
.sprite-23 {
  background-position: -277px -79px;
  width: 21px;
  height: 24px;
}
.sprite-24 {
  background-position: -308px -79px;
  width: 16px;
  height: 16px;
}
.sprite-25 {
  background-position: -308px -105px;
  width: 17px;
  height: 12px;
}
.sprite-26 {
  background-position: -332px -37px;
  width: 14px;
  height: 10px;
}
.sprite-27 {
  background-position: -5px -127px;
  width: 16px;
  height: 22px;
}
.sprite-28 {
  background-position: -31px -127px;
  width: 16px;
  height: 26px;
}
.sprite-29 {
  background-position: -57px -127px;
  width: 36px;
  height: 29px;
}
.sprite-3 {
  background-position: -103px -127px;
  width: 46px;
  height: 22px;
}
.sprite-30 {
  background-position: -159px -127px;
  width: 22px;
  height: 22px;
}
.sprite-31 {
  background-position: -191px -127px;
  width: 30px;
  height: 21px;
}
.sprite-32 {
  background-position: -231px -127px;
  width: 18px;
  height: 28px;
}
.sprite-33 {
  background-position: -259px -127px;
  width: 22px;
  height: 22px;
}
.sprite-34 {
  background-position: -291px -127px;
  width: 17px;
  height: 29px;
}
.sprite-35 {
  background-position: -103px -159px;
  width: 60px;
  height: 31px;
}
.sprite-36 {
  background-position: -5px -166px;
  width: 53px;
  height: 36px;
}
.sprite-37 {
  background-position: -173px -166px;
  width: 39px;
  height: 39px;
}
.sprite-38 {
  background-position: -222px -166px;
  width: 45px;
  height: 41px;
}
.sprite-39 {
  background-position: -277px -166px;
  width: 40px;
  height: 40px;
}
.sprite-4 {
  background-position: -5px -216px;
  width: 30px;
  height: 17px;
}
.sprite-40 {
  background-position: -5px -37px;
  width: 11px;
  height: 11px;
}
.sprite-41 {
  background-position: -318px -127px;
  width: 18px;
  height: 19px;
}
.sprite-42 {
  background-position: -246px -57px;
  width: 12px;
  height: 12px;
}
.sprite-43 {
  background-position: -327px -156px;
  width: 16px;
  height: 16px;
}
.sprite-44 {
  background-position: -68px -182px;
  width: 16px;
  height: 16px;
}
.sprite-45 {
  background-position: -327px -182px;
  width: 16px;
  height: 16px;
}
.sprite-46 {
  background-position: -68px -208px;
  width: 16px;
  height: 16px;
}
.sprite-47 {
  background-position: -268px -57px;
  width: 12px;
  height: 7px;
}
.sprite-48 {
  background-position: -332px -57px;
  width: 12px;
  height: 7px;
}
.sprite-49 {
  background-position: -94px -208px;
  width: 18px;
  height: 17px;
}
.sprite-5 {
  background-position: -122px -208px;
  width: 12px;
  height: 24px;
}
.sprite-50 {
  background-position: -334px -74px;
  width: 12px;
  height: 7px;
}
.sprite-51 {
  background-position: -144px -208px;
  width: 12px;
  height: 7px;
}
.sprite-52 {
  background-position: -327px -208px;
  width: 13px;
  height: 16px;
}
.sprite-53 {
  background-position: -45px -234px;
  width: 13px;
  height: 16px;
}
.sprite-54 {
  background-position: -144px -234px;
  width: 19px;
  height: 18px;
}
.sprite-55 {
  background-position: -173px -234px;
  width: 18px;
  height: 18px;
}
.sprite-56 {
  background-position: -201px -234px;
  width: 18px;
  height: 19px;
}
.sprite-57 {
  background-position: -277px -216px;
  width: 21px;
  height: 21px;
}
.sprite-58 {
  background-position: -68px -247px;
  width: 39px;
  height: 41px;
}
.sprite-59 {
  background-position: -229px -247px;
  width: 50px;
  height: 41px;
}
.sprite-6 {
  background-position: -289px -247px;
  width: 44px;
  height: 21px;
}
.sprite-60 {
  background-position: -5px -278px;
  width: 39px;
  height: 45px;
}
.sprite-61 {
  background-position: -54px -298px;
  width: 112px;
  height: 36px;
}
.sprite-62 {
  background-position: -289px -278px;
  width: 45px;
  height: 36px;
}
.sprite-63 {
  background-position: -176px -278px;
  width: 39px;
  height: 36px;
}
.sprite-64 {
  background-position: -117px -278px;
  width: 17px;
  height: 10px;
}
.sprite-65 {
  background-position: -356px -5px;
  width: 43px;
  height: 41px;
}
.sprite-66 {
  background-position: -176px -324px;
  width: 68px;
  height: 36px;
}
.sprite-67 {
  background-position: -356px -56px;
  width: 41px;
  height: 41px;
}
.sprite-68 {
  background-position: -344px -234px;
  width: 55px;
  height: 54px;
}
.sprite-69 {
  background-position: -353px -107px;
  width: 41px;
  height: 57px;
}
.sprite-7 {
  background-position: -353px -174px;
  width: 36px;
  height: 25px;
}
.sprite-70 {
  background-position: -344px -298px;
  width: 52px;
  height: 54px;
}
.sprite-71 {
  background-position: -409px -5px;
  width: 54px;
  height: 54px;
}
.sprite-72 {
  background-position: -407px -69px;
  width: 45px;
  height: 34px;
}
.sprite-73 {
  background-position: -404px -113px;
  width: 41px;
  height: 41px;
}
.sprite-74 {
  background-position: -455px -113px;
  width: 7px;
  height: 13px;
}
.sprite-75 {
  background-position: -404px -164px;
  width: 21px;
  height: 24px;
}
.sprite-8 {
  background-position: -409px -198px;
  width: 29px;
  height: 27px;
}
.sprite-9 {
  background-position: -409px -235px;
  width: 31px;
  height: 20px;
}
#main {
  position: relative;
  min-height: 100%;
  padding-bottom: 587px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -28px -5px;
  width: 208px;
  height: 44px;
}
.display-inline {
  display: inline-block;
  vertical-align: top;
}
.yellow-btn {
  font-size: 10.5pt;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  height: 30px;
  line-height: 30px;
  padding: 0 11px;
  display: inline-block;
  vertical-align: top;
  background: #fe9600;
  border-bottom: 1px solid #d76a0a;
  -webkit-box-shadow: 0px 1px 0px 0px #ed7409, 0px 2px 0px 0px #f97908;
  -moz-box-shadow: 0px 1px 0px 0px #ed7409, 0px 2px 0px 0px #f97908;
  box-shadow: 0px 1px 0px 0px #ed7409, 0px 2px 0px 0px #f97908;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.yellow-btn:hover {
  background: #262f2f;
  border-color: #262f2f;
  -webkit-box-shadow: 0px 1px 0px 0px #262f2f, 0px 2px 0px 0px #262f2f;
  -moz-box-shadow: 0px 1px 0px 0px #262f2f, 0px 2px 0px 0px #262f2f;
  box-shadow: 0px 1px 0px 0px #262f2f, 0px 2px 0px 0px #262f2f;
}
.main-title {
  font-family: 'UniSansHeavyCaps';
  font-size: 21pt;
  color: #262f2f;
  padding: 51px 0 41px 0;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
}
#header .contacts {
  height: 65px;
  background: url("images/contacts.png") center top;
}
#header .contacts ul li {
  float: left;
  font-size: 9pt;
  padding: 14px 0 0 0;
}
#header .contacts ul li:first-child {
  width: 22.8%;
}
#header .contacts ul li:first-child + * {
  width: 30%;
}
#header .contacts ul li:first-child + * + * {
  width: 27.7%;
}
#header .contacts ul li:first-child + * + * + * {
  width: 19.5%;
}
#header .contacts ul li b {
  font-weight: 700;
  display: block;
  font-family: 'UniSansHeavyCaps';
  font-size: 10.5pt;
}
#header .contacts ul li b.tel span {
  color: #fe9600;
}
#header .contacts ul li b a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222c2c;
}
#header .cont-header {
  padding: 20px 0;
}
#header .cont-header .logo {
  display: inline-block;
  vertical-align: top;
}
#header .cont-header nav {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 48px;
  padding: 10px 0 0 0;
}
#header .cont-header nav a {
  color: #222c2c;
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  letter-spacing: -0.2px;
}
#header .cont-header nav a:hover {
  text-decoration: none;
}
#header .cont-header .search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 68px;
  z-index: 10;
}
#header .cont-header .search:hover div {
  width: 370px;
}
#header .cont-header .search input[type="submit"] {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
#header .cont-header .search span {
  width: 26px;
  height: 26px;
  position: relative;
  display: block;
  background: #fe9600;
}
#header .cont-header .search span:after {
  position: absolute;
  content: "";
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -5px;
  width: 13px;
  height: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
#header .cont-header .search div {
  position: absolute;
  top: 0;
  right: 26px;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -ms-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
}
#header .cont-header .search div input[type="text"] {
  background: #fff;
  border-color: #e2e2e2;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  height: 20px;
  width: 100%;
  text-indent: 10px;
  outline: 0;
  color: #848484;
  font-style: italic;
  font-size: 9pt;
}
#main-nav {
  height: 65px;
  background: url("images/main-nav.png") top center;
  position: relative;
  z-index: 11;
}
#main-nav.ekotehnika:hover .ekotehnika-drop {
  display: block;
}
#main-nav.parts:hover .parts-drop {
  display: block;
}
#main-nav .list-nav {
  text-align: center;
}
#main-nav .list-nav li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
#main-nav .list-nav li:hover a,
#main-nav .list-nav li.active a {
  background: url("images/hover-nav.png");
}
#main-nav .list-nav li a {
  color: #fff;
  font-family: 'UniSansHeavyCaps';
  text-decoration: none;
  font-size: 10pt;
  padding: 0 23px;
  display: block;
  height: 65px;
  position: relative;
  background: url("images/main-nav.png");
}
#main-nav .list-nav li a span {
  display: block;
  height: 37px;
  overflow: hidden;
}
#main-nav .list-nav li a span i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  margin: 10px auto 0 auto;
}
#main-nav .list-nav li a span i.buggy {
  background-position: -103px -127px;
  width: 46px;
  height: 22px;
  margin-top: 11px;
}
#main-nav .list-nav li a span i.quads {
  background-position: -409px -235px;
  width: 31px;
  height: 20px;
  margin-top: 12px;
}
#main-nav .list-nav li a span i.motorcycles {
  background-position: -353px -174px;
  width: 36px;
  height: 25px;
  margin-top: 8px;
}
#main-nav .list-nav li a span i.scooters {
  background-position: -409px -198px;
  width: 29px;
  height: 27px;
  margin-top: 5px;
}
#main-nav .list-nav li a span i.snowmobiles {
  background-position: -289px -247px;
  width: 44px;
  height: 21px;
  margin-top: 11px;
}
#main-nav .list-nav li a span i.ekotehnika {
  background-position: -122px -208px;
  width: 12px;
  height: 24px;
  margin-top: 8px;
}
#main-nav .list-nav li a span i.accessories {
  background-position: -5px -216px;
  width: 30px;
  height: 17px;
  margin-top: 14px;
}
#main-nav .list-nav li a span i.parts {
  background-position: -138px -79px;
  width: 21px;
  height: 21px;
  margin-top: 11px;
}
#main-nav .list-nav li a p {
  margin: 0;
}
#main-nav .dropdown {
  position: absolute;
  top: 64px;
  left: 0;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-shadow: 0px 1px 0px 0px #f3f3f3;
  -moz-box-shadow: 0px 1px 0px 0px #f3f3f3;
  box-shadow: 0px 1px 0px 0px #f3f3f3;
  display: none;
}
#main-nav .dropdown:hover {
  display: block !important;
}
#main-nav .dropdown .list {
  padding: 20px 0;
}
#main-nav .dropdown .list li {
  display: inline-block;
  vertical-align: top;
  margin-left: 26px;
}
#main-nav .dropdown .list li a {
  color: #f08303;
}
#main-nav .dropdown .list li a:hover {
  text-decoration: none;
}
#main-nav .dropdown .parts-list {
  padding: 20px 0 0 0;
}
#main-nav .dropdown .parts-list li {
  float: left;
  width: 20%;
  margin-bottom: 20px;
}
#main-nav .dropdown .parts-list li a {
  color: #fe9600;
  display: block;
  width: 164px;
  height: 164px;
  margin: auto;
  position: relative;
  text-align: center;
}
#main-nav .dropdown .parts-list li a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(254,150,0,0);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(254,150,0,0);
  box-shadow: inset 0px 0px 0px 2px rgba(254,150,0,0);
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#main-nav .dropdown .parts-list li a:hover {
  text-decoration: none;
}
#main-nav .dropdown .parts-list li a:hover:after {
  -webkit-box-shadow: inset 0 0 0 2px #fe9600;
  -moz-box-shadow: inset 0 0 0 2px #fe9600;
  box-shadow: inset 0 0 0 2px #fe9600;
}
#main-nav .dropdown .parts-list li .img-block {
  display: block;
  width: 100%;
  height: 126px;
  text-align: center;
}
#main-nav .dropdown .parts-list li .img-block img {
  max-width: 100%;
}
#main-nav .dropdown .parts-list li p {
  margin: 0;
}
#main-slider {
  z-index: 9;
}
#main-slider .item {
  min-height: 436px;
  overflow: hidden;
  text-align: center;
  background-position: center top;
  background-size: cover;
  position: relative;
}
#main-slider .owl-controls {
  width: 980px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
#main-slider .owl-controls .owl-pagination {
  position: absolute;
  width: 348px;
  background: url("images/bg-slider-text.png");
  height: 100px;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding: 24px 30px 0 0;
}
#main-slider .owl-controls .owl-pagination .owl-page {
  margin: 0 0 0 9px;
}
#main-slider .owl-controls .owl-pagination .owl-page span {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,0);
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  margin: 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 1;
  filter: alpha(opacity=100);
}
#main-slider .owl-controls .owl-pagination .owl-page:hover span,
#main-slider .owl-controls .owl-pagination .owl-page.active span {
  background: #fe9908;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fe9908;
  -moz-box-shadow: inset 0px 0px 0px 3px #fe9908;
  box-shadow: inset 0px 0px 0px 3px #fe9908;
}
#main-slider .owl-controls .owl-buttons div {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #262f2f;
  overflow: hidden;
  text-indent: -999px;
  border-radius: 0;
  padding: 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-top: -23px;
  top: 50%;
}
#main-slider .owl-controls .owl-buttons div:hover {
  background: #fe9600;
}
#main-slider .owl-controls .owl-buttons div:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  content: "";
}
#main-slider .owl-controls .owl-buttons div.owl-prev {
  left: -130px;
}
#main-slider .owl-controls .owl-buttons div.owl-prev:after {
  background-position: -273px -5px;
  width: 17px;
  height: 30px;
}
#main-slider .owl-controls .owl-buttons div.owl-next {
  right: -130px;
}
#main-slider .owl-controls .owl-buttons div.owl-next:after {
  background-position: -246px -5px;
  width: 17px;
  height: 30px;
}
#main-slider-content {
  position: relative;
  z-index: 10;
}
#main-slider-content .text-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 336px;
  width: 348px;
  background: url("images/bg-slider-text.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px 0 38px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  text-align: right;
}
#main-slider-content .text-block h3 {
  color: #fff;
  font-family: 'UniSansHeavyCaps';
  margin: 0;
  font-size: 27pt;
  line-height: 1.3;
  padding: 56px 0 0 0;
}
#main-slider-content .text-block p {
  margin: 0;
  color: #fff;
  font-size: 10pt;
  padding-top: 15px;
}
#main-slider-content .text-block .yellow-btn {
  margin-top: 32px;
}
.slider-style .owl-controls {
  width: 980px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.slider-style .owl-controls .owl-buttons div {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #262f2f;
  overflow: hidden;
  text-indent: -999px;
  border-radius: 0;
  padding: 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-top: -23px;
  top: 50%;
}
.slider-style .owl-controls .owl-buttons div:hover {
  background: #fe9600;
}
.slider-style .owl-controls .owl-buttons div:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  content: "";
}
.slider-style .owl-controls .owl-buttons div.owl-prev {
  left: -130px;
}
.slider-style .owl-controls .owl-buttons div.owl-prev:after {
  background-position: -273px -5px;
  width: 17px;
  height: 30px;
}
.slider-style .owl-controls .owl-buttons div.owl-next {
  right: -130px;
}
.slider-style .owl-controls .owl-buttons div.owl-next:after {
  background-position: -246px -5px;
  width: 17px;
  height: 30px;
}
#beast-deals .owl-wrapper-outer {
  overflow: visible;
}
#beast-deals .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
#beast-deals .item:hover .wrap-slide .dropdown {
  height: 109px;
  padding: 0 3px 3px 3px;
  border-top: 1px dashed #b4b6b6;
}
#beast-deals .item .wrap-slide {
  background: url("images/cont-bg.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
}
#beast-deals .item .wrap-slide .cont-slide {
  height: 306px;
  background: #fff;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#beast-deals .item .wrap-slide .cont-slide .img-block {
  height: 165px;
  width: 100%;
  display: table;
  background: url("images/bg-product.png") center top no-repeat;
}
#beast-deals .item .wrap-slide .cont-slide .img-block span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#beast-deals .item .wrap-slide .cont-slide .name {
  font-family: 'UniSansHeavyCaps';
  color: #f08303;
  font-size: 9pt;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 1.5px;
  margin: 11px 0 0 17px;
  height: 30px;
  line-height: 1.5;
}
#beast-deals .item .wrap-slide .cont-slide .name:hover {
  text-decoration: none;
}
#beast-deals .item .wrap-slide .cont-slide .price-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 17px;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left p {
  margin: 0;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left p span {
  font-family: 'als_rublregular';
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left .price {
  font-family: 'UniSansHeavyCaps';
  font-size: 16pt;
  padding-top: 11px;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left .credit {
  font-size: 8pt;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left .credit a {
  color: #222c2c;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .f-left .credit a:hover {
  text-decoration: none;
}
#beast-deals .item .wrap-slide .cont-slide .price-block .yellow-btn {
  float: right;
  font-family: 'UniSansHeavyCaps';
  margin: 16px 5px 0 0;
  padding: 0 13px;
}
#beast-deals .item .wrap-slide .dropdown {
  position: absolute;
  left: 0;
  top: 96%;
  width: 100%;
  overflow: hidden;
  background: url("images/cont-bg.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  height: 0;
}
#beast-deals .item .wrap-slide .dropdown .cont {
  height: 105px;
  background: #ececec;
}
#beast-deals .item .wrap-slide .dropdown .cont p {
  margin: 0;
  text-align: center;
  color: #262f2f;
  font-weight: bold;
  font-size: 10pt;
  line-height: 45px;
}
#beast-deals .item .wrap-slide .dropdown .cont ul {
  border-top: 1px dashed #b4b6b6;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 58px;
  padding: 12px 15px;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li:first-child {
  border-right: 1px dashed #b4b6b6;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li .ico-block {
  float: left;
  width: 30px;
  padding-top: 3px;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li .ico-block i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li .ico-block i.one-person {
  background-position: -300px -5px;
  width: 16px;
  height: 14px;
  margin-bottom: 5px;
}
#beast-deals .item .wrap-slide .dropdown .cont ul li .text-block {
  font-weight: bold;
  width: auto;
  margin: 0 0 0 30px;
  font-size: 10pt;
  line-height: 1;
}
#beast-deals .owl-controls {
  height: auto;
}
#beast-deals .owl-controls .owl-pagination {
  display: none;
}
#beast-deals .owl-controls .owl-buttons div {
  top: 150px;
}
#beast-deals .owl-controls .owl-buttons div.owl-prev {
  left: -20px;
}
#beast-deals .owl-controls .owl-buttons div.owl-next {
  right: -20px;
}
.slider-wrap {
  width: 1000px;
  margin: auto;
  overflow: hidden;
  height: 540px;
  position: relative;
  z-index: 10;
}
.warranty {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -326px -5px;
  width: 16px;
  height: 22px;
  position: relative;
}
.warranty span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 9pt;
  color: #fff;
}
#main-catalog {
  border-top: 1px solid #d7d8d8;
  border-bottom: 1px solid #d7d8d8;
  position: relative;
  z-index: 9;
  margin-top: -37px;
  -webkit-box-shadow: 0px 0px 0px 2px #e2e2e2;
  -moz-box-shadow: 0px 0px 0px 2px #e2e2e2;
  box-shadow: 0px 0px 0px 2px #e2e2e2;
  height: 618px;
  background: url("images/bg-main-catalog.png") center top;
  background-size: cover;
  padding-top: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#main-catalog .technics {
  padding-top: 57px;
}
#main-catalog .technics li {
  width: 25%;
  float: left;
  margin-bottom: 56px;
}
#main-catalog .technics li a {
  display: block;
  text-align: center;
  font-family: 'UniSansHeavyCaps';
  color: #fe9600;
  font-size: 10pt;
  letter-spacing: 1px;
}
#main-catalog .technics li a:hover {
  text-decoration: none;
}
#main-catalog .technics li a span {
  display: block;
  text-align: center;
  height: 157px;
}
.tab-nav {
  text-align: center;
}
.tab-nav a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: 'UniSansHeavyCaps';
  text-decoration: none;
  color: #fe9600;
  font-size: 21pt;
  padding: 9px 11px;
  line-height: 1;
  letter-spacing: 1px;
  background: rgba(255,255,255,0);
}
.tab-nav a span {
  border-bottom: 1px dashed #fe9600;
}
.tab-nav a.active {
  background: #262f2f;
  color: #fff;
}
.tab-nav a.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(38,47,47,0);
  border-top-color: #262f2f;
  border-width: 10px;
  margin-left: -10px;
}
.tab-nav a.active span {
  border-color: #262f2f;
}
.tab-nav a:hover span {
  border-bottom: 0;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.article-block {
  padding-top: 60px;
}
.article-block aside {
  float: left;
  width: 224px;
  padding-top: 4px;
  text-align: right;
}
.article-block aside .main-title {
  padding: 0 0 6px 0;
  line-height: 1;
  text-align: right;
}
.article-block aside a {
  color: #fe9600;
  font-size: 10.5pt;
}
.article-block aside a:hover {
  text-decoration: none;
}
.article-block article {
  width: auto;
  margin: 0 0 0 224px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 22px;
}
.article-block article .main-title {
  padding: 0 0 22px 0;
  text-align: left;
  line-height: 1;
}
.article-block article p {
  color: #848484;
  margin: 0;
  line-height: 1.2;
  padding-bottom: 16px;
}
.article-block article h4 {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'UniSansHeavyCaps';
  font-size: 13pt;
  letter-spacing: 0.9px;
}
.article-block article .info-orange {
  background: #fe9600;
  padding: 17px 20px;
  font-family: 'UniSansHeavyCapsItalic';
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
  color: #fff;
  font-size: 10pt;
  letter-spacing: 0.8px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.article-block article .full-img {
  width: 100%;
  padding-bottom: 23px;
}
#news-block {
  border-top: 1px solid #d7d8d8;
  border-bottom: 1px solid #d7d8d8;
  -webkit-box-shadow: 0px 0px 0px 2px #e2e2e2;
  -moz-box-shadow: 0px 0px 0px 2px #e2e2e2;
  box-shadow: 0px 0px 0px 2px #e2e2e2;
  height: 462px;
  margin-top: 42px;
  background: url("images/news-bg.png") center top no-repeat;
  background-size: cover;
}
#news-block .article-block {
  padding-top: 49px;
}
#news-block .article-block article {
  padding-top: 8px;
}
#news-block .article-block article .f-left,
#news-block .article-block article .f-right {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#news-block .article-block article .f-right {
  padding-left: 10px;
}
#news-block .article-block article .main-news-cont {
  width: 348px;
  height: 348px;
  background: #bdbdbd;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMjMyMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,#bdbdbd 0%,#323232 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bdbdbd),color-stop(100%,#323232));
  background: -webkit-linear-gradient(top,#bdbdbd 0%,#323232 100%);
  background: -o-linear-gradient(top,#bdbdbd 0%,#323232 100%);
  background: -ms-linear-gradient(top,#bdbdbd 0%,#323232 100%);
  background: linear-gradient(to bottom,#bdbdbd 0%,#323232 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd',endColorstr='#323232',GradientType=0);
  position: relative;
  overflow: hidden;
}
#news-block .article-block article .main-news-cont img {
  width: 100%;
}
#news-block .article-block article .main-news-cont .main-news {
  position: absolute;
  width: 100%;
  left: 0;
  top: 145px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 21px;
}
#news-block .article-block article .main-news-cont .main-news p {
  color: #fff;
}
#news-block .article-block article .day {
  color: #fff;
  font-size: 10.5pt;
  background: #fe9600;
  display: inline-block;
  line-height: 22px;
  padding: 0 5px;
}
#news-block .article-block article p {
  font-size: 10.5pt;
  margin: 0;
  line-height: 1.35;
  color: #222c2c;
}
#news-block .article-block article .list-news li {
  padding-bottom: 20px;
}
#interesting {
  height: 557px;
  background: url("images/interesting-bg.png") center top no-repeat;
}
#interesting article ul {
  overflow: hidden;
}
#interesting article ul li {
  width: 33.3%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
}
#interesting article ul li:first-child i {
  margin-top: 17px;
}
#interesting article ul li:first-child + * .img-block {
  margin-top: 27px;
}
#interesting article ul li:first-child + * i {
  margin-top: 29px;
}
#interesting article ul li:first-child + * .opange-title {
  padding: 15px 0 11px 0;
}
#interesting article ul li:first-child + * + * .img-block {
  margin-top: 66px;
}
#interesting article ul li:first-child + * + * i {
  margin-top: 23px;
}
#interesting article ul li:first-child + * + * .opange-title {
  padding: 24px 0 11px 0;
}
#interesting article ul li .img-block {
  text-align: center;
}
#interesting article ul li i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -300px -37px;
  width: 22px;
  height: 32px;
  margin: auto;
}
#interesting article ul li .opange-title {
  padding: 33px 0 11px 0;
}
#interesting article ul li p {
  font-size: 10.5pt;
  line-height: 1.3;
}
.orange-title {
  font-family: 'UniSansHeavyCaps';
  color: #fe9600;
  margin: 0;
  padding: 15px 0 12px 0;
  letter-spacing: 0.9px;
  font-size: 10pt;
  line-height: 1.4;
}
.orange-title a {
  color: #fe9600;
}
.orange-title a:hover {
  text-decoration: none;
}
#user-stories {
  border-top: 1px solid #d7d8d8;
  border-bottom: 1px solid #d7d8d8;
  -webkit-box-shadow: 0px 0px 0px 2px #e2e2e2;
  -moz-box-shadow: 0px 0px 0px 2px #e2e2e2;
  box-shadow: 0px 0px 0px 2px #e2e2e2;
  height: 487px;
  margin-top: 12px;
  background: url("images/user-stories.png") center top no-repeat;
  background-size: cover;
  margin-bottom: 2px;
}
#user-stories .main-container {
  width: 1000px;
}
#user-stories ul {
  overflow: hidden;
}
#user-stories ul li {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
#user-stories ul li .img-block {
  overflow: hidden;
  height: 267px;
  position: relative;
}
#user-stories ul li .img-block img {
  width: 100%;
}
#user-stories ul li .img-block .orange-title {
  position: absolute;
  top: 69.5%;
  left: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#user-stories ul li .yellow-btn {
  margin: 15px 0 2px 0;
}
#footer {
  padding: 70px 0;
  background: url("images/footer.png");
  margin-top: -587px;
  position: relative;
}
#footer .left-block {
  width: 300px;
  float: left;
}
#footer .left-block .logo {
  margin: 0 0 22px 0;
}
#footer .left-block p {
  margin: 0;
  color: #a09797;
  font-size: 10pt;
}
#footer .left-block .tel {
  color: #fff;
  font-family: 'UniSansHeavyCaps';
  font-size: 15pt;
  margin-bottom: 15px;
}
#footer .left-block .tel span {
  color: #fe9600;
}
#footer .left-block .copy-lang {
  margin-top: 35px;
}
#footer .left-block ul {
  padding-top: 12px;
  line-height: 1.6;
}
#footer .left-block ul li a {
  color: #fff;
  font-size: 10pt;
}
#footer .left-block ul li a:hover {
  text-decoration: none;
}
#footer .right-block {
  width: auto;
  margin: 0 0 0 309px;
}
#footer h3 {
  margin: 0;
  color: #fff;
  line-height: 1;
  font-family: 'UniSansHeavyCaps';
  font-size: 10pt;
  letter-spacing: 1px;
  padding-bottom: 12px;
}
#footer .cont-clear {
  overflow: hidden;
}
#footer .list > li {
  width: 36%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
}
#footer .list > li:first-child {
  width: 28%;
}
#footer .list > li ul {
  line-height: 1.6;
  padding-bottom: 28px;
}
#footer .list > li ul li a {
  color: #fe9600;
  font-size: 10pt;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#footer .list > li ul li a:hover {
  text-decoration: none;
}
#sidebar {
  width: 54px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background: #262f2f;
  border-left: 2px solid #fe9600;
  overflow: hidden;
  -webkit-transition: 0.5s width ease;
  -moz-transition: 0.5s width ease;
  -ms-transition: 0.5s width ease;
  -o-transition: 0.5s width ease;
  transition: 0.5s width ease;
}
#sidebar:hover {
  width: 180px;
}
#sidebar ul {
  width: 180px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#sidebar ul li {
  line-height: 44px;
  background: #262f2f;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#sidebar ul li:hover {
  background: #fe9600;
}
#sidebar ul li a {
  color: #fff;
  font-family: 'UniSansHeavyCaps';
  text-decoration: none;
  font-size: 9pt;
  letter-spacing: 0.2px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
#sidebar ul li a .ico-block {
  width: 54px;
  display: inline-block;
  vertical-align: top;
  height: 44px;
  position: relative;
}
#sidebar ul li a .ico-block .basket-num {
  font-family: 'PT Sans', sans-serif;
  color: #262f2f;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background: #fe9600;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  right: 12px;
  display: block;
  text-align: center;
  line-height: 18px;
  font-size: 8pt;
}
#sidebar ul li a .ico-block i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  margin: 11px 0 0 11px;
}
#sidebar ul li a .ico-block i.order-call {
  background-position: -5px -79px;
  width: 23px;
  height: 24px;
}
#sidebar ul li a .ico-block i.salon-address {
  background-position: -38px -79px;
  width: 20px;
  height: 28px;
  margin: 9px 0 0 13px;
}
#sidebar ul li a .ico-block i.FAQ {
  background-position: -68px -79px;
  width: 25px;
  height: 25px;
}
#sidebar ul li a .ico-block i.vk {
  background-position: -103px -79px;
  width: 25px;
  height: 25px;
}
#sidebar ul li a .ico-block i.fb {
  background-position: -169px -79px;
  width: 25px;
  height: 25px;
}
#sidebar ul li a .ico-block i.basket {
  background-position: -204px -79px;
  width: 24px;
  height: 20px;
  margin: 12px 0 0 10px;
}
#sidebar .go-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 270px;
}
#sidebar .go-top a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262f2f;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#sidebar .go-top a:hover {
  background: rgba(255,255,255,0.1);
}
#sidebar .go-top a i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -238px -79px;
  width: 29px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 145px;
}
#catalog .main-title {
  text-align: left;
  padding-bottom: 25px;
}
#catalog .info-block {
  border-bottom: 1px solid #d7d8d8;
  padding-bottom: 39px;
  -webkit-box-shadow: 0px 2px 0px 0px #e2e2e2;
  -moz-box-shadow: 0px 2px 0px 0px #e2e2e2;
  box-shadow: 0px 2px 0px 0px #e2e2e2;
}
#catalog .info-block img {
  margin: 0 23px 0 0;
  float: left;
}
#catalog .info-block p {
  margin: 0;
  padding-bottom: 15px;
  color: #848484;
  line-height: 1.3;
  font-size: 10.5pt;
}
#catalog .info-block .yellow-btn {
  margin-top: 5px;
  padding: 0 15px;
}
#catalog .info-block .yellow-btn span {
  border-bottom: 1px dashed #fff;
}
#catalog .info-block .yellow-btn .show {
  display: inline;
}
#catalog .info-block .yellow-btn .hide {
  display: none;
}
#catalog .info-block .yellow-btn.active .show {
  display: none;
}
#catalog .info-block .yellow-btn.active .hide {
  display: inline;
}
#catalog .info-block .more-info {
  display: none;
}
#catalog .filter {
  padding: 17px 0;
}
#catalog .filter .title {
  font-size: 10pt;
}
#catalog .filter .tab-nav {
  float: left;
  margin: 22px 0 0 115px;
}
#catalog .filter .tab-nav a {
  font-size: 10pt;
  padding: 8px 12px;
}
#sorting {
  float: left;
}
#sorting ul {
  margin-top: 4px;
}
#sorting ul li {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  padding: 0 8px;
  margin-right: 8px;
}
#sorting ul li.active {
  background: #000;
}
#sorting ul li.active.price i {
  background-position: -327px -208px;
  width: 13px;
  height: 16px;
}
#sorting ul li.active.popular i {
  background-position: -144px -234px;
  width: 19px;
  height: 18px;
}
#sorting ul li.active p {
  color: #fff;
}
#sorting ul li.price i {
  background-position: -45px -234px;
  width: 13px;
  height: 16px;
  margin: 7px 2px 0 0;
}
#sorting ul li.popular i {
  background-position: -94px -208px;
  width: 18px;
  height: 17px;
  margin: 6px 0 0 0;
}
#sorting ul li i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  display: inline-block;
  vertical-align: top;
}
#sorting ul li p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 30px;
  font-weight: bold;
  color: #fe9600;
  font-size: 10pt;
  font-size: 17pt;
}
#sorting ul li .arrows {
  position: relative;
  width: 12px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
}
#sorting ul li .arrows a {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
}
#sorting ul li .arrows a.up {
  background-position: -332px -57px;
  width: 12px;
  height: 7px;
  top: 6px;
}
#sorting ul li .arrows a.up:hover {
  background-position: -334px -74px;
  width: 12px;
  height: 7px;
}
#sorting ul li .arrows a.down {
  background-position: -268px -57px;
  width: 12px;
  height: 7px;
  bottom: 6px;
}
#sorting ul li .arrows a.down:hover {
  background-position: -144px -208px;
  width: 12px;
  height: 7px;
}
#catalog-view {
  float: right;
}
#catalog-view ul {
  margin: 4px 0 0 0;
}
#catalog-view ul li {
  display: inline-block;
  vertical-align: top;
}
#catalog-view ul li a {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
#catalog-view ul li a.active {
  background: #000;
}
#catalog-view ul li a.active .block {
  background-position: -68px -182px;
  width: 16px;
  height: 16px;
}
#catalog-view ul li a.active .line {
  background-position: -327px -182px;
  width: 16px;
  height: 16px;
}
#catalog-view ul li a i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#catalog-view ul li a i.block {
  background-position: -68px -208px;
  width: 16px;
  height: 16px;
}
#catalog-view ul li a i.line {
  background-position: -327px -156px;
  width: 16px;
  height: 16px;
}
.catalog-view {
  display: none;
}
.catalog-view.active {
  display: block;
}
#catalog-block {
  padding: 22px 0;
  margin: 0 -10px;
}
#catalog-block > ul > li {
  float: left;
  width: 25%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 13px;
  display: none;
}
#catalog-block > ul > li.active {
  display: block;
}
#catalog-block > ul > li .wrap-product {
  background: url("images/cont-bg.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
}
#catalog-block > ul > li .wrap-product .catalog-icon {
  position: absolute;
  top: 0;
  left: 0;
}
#catalog-block > ul > li .wrap-product .cont-product {
  background: #fff;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#catalog-block > ul > li .wrap-product .cont-product .img-block {
  height: 165px;
  width: 100%;
  display: table;
  background: url("images/bg-product.png") center top no-repeat;
}
#catalog-block > ul > li .wrap-product .cont-product .img-block span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#catalog-block > ul > li .wrap-product .cont-product .name {
  font-family: 'UniSansHeavyCaps';
  color: #f08303;
  font-size: 9pt;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 1.5px;
  margin: 11px 0 0 17px;
  height: 30px;
  line-height: 1.5;
}
#catalog-block > ul > li .wrap-product .cont-product .name:hover {
  text-decoration: none;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 17px;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left p {
  margin: 0;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left p span {
  font-family: 'als_rublregular';
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left .price {
  font-family: 'UniSansHeavyCaps';
  font-size: 16pt;
  padding-top: 11px;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left .credit {
  font-size: 8pt;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left .credit a {
  color: #222c2c;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .f-left .credit a:hover {
  text-decoration: none;
}
#catalog-block > ul > li .wrap-product .cont-product .price-block .yellow-btn {
  float: right;
  font-family: 'UniSansHeavyCaps';
  margin: 16px 5px 0 0;
  padding: 0 13px;
}
#catalog-block > ul > li .wrap-product .info-cont {
  height: 105px;
  background: #ececec;
  border-top: 1px dashed #b4b6b6;
  margin-top: 13px;
}
#catalog-block > ul > li .wrap-product .info-cont p {
  margin: 0;
  text-align: center;
  color: #262f2f;
  font-weight: bold;
  font-size: 10pt;
  line-height: 45px;
}
#catalog-block > ul > li .wrap-product .info-cont ul {
  border-top: 1px dashed #b4b6b6;
}
#catalog-block > ul > li .wrap-product .info-cont ul li {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 58px;
  padding: 12px 15px;
}
#catalog-block > ul > li .wrap-product .info-cont ul li:first-child {
  border-right: 1px dashed #b4b6b6;
}
#catalog-block > ul > li .wrap-product .info-cont ul li .ico-block {
  float: left;
  width: 30px;
  padding-top: 3px;
}
#catalog-block > ul > li .wrap-product .info-cont ul li .ico-block i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
#catalog-block > ul > li .wrap-product .info-cont ul li .ico-block i.one-person {
  background-position: -300px -5px;
  width: 16px;
  height: 14px;
  margin-bottom: 5px;
}
#catalog-block > ul > li .wrap-product .info-cont ul li .text-block {
  font-weight: bold;
  width: auto;
  margin: 0 0 0 30px;
  font-size: 10pt;
  line-height: 1;
}
.catalog-icon {
  margin: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  color: #fff;
  letter-spacing: -0.5px;
}
.catalog-icon i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0 0;
}
.hit-sales {
  background: #fe9600;
}
.hit-sales i {
  background-position: -144px -234px;
  width: 19px;
  height: 18px;
}
.discount {
  background: #12bb2d;
}
.discount span {
  font-weight: bold;
  font-size: 15pt;
  margin-right: 5px;
}
.sold {
  background: #a3a3a3;
  z-index: 10;
}
.sold i {
  background-position: -173px -234px;
  width: 18px;
  height: 18px;
  margin-top: 8px;
}
.sold-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  background: url("images/sold-overlay.png");
}
.gift {
  background: #009dd0;
}
.gift i {
  background-position: -404px -164px;
  width: 21px;
  height: 24px;
}
.action {
  background: #fc3636;
}
.action i {
  background-position: -201px -234px;
  width: 18px;
  height: 19px;
}
.discontinued {
  background: #262f2f;
}
.discontinued i {
  background-position: -277px -216px;
  width: 21px;
  height: 21px;
}
#catalog-line {
  margin-top: 22px;
}
#catalog-line > ul > li {
  margin-bottom: 24px;
  display: none;
}
#catalog-line > ul > li.active {
  display: block;
}
#catalog-line > ul > li .wrap-product {
  background: url("images/cont-bg.png");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
}
#catalog-line > ul > li .wrap-product .catalog-icon {
  position: absolute;
  top: 0;
  left: 0;
}
#catalog-line > ul > li .wrap-product .cont-product {
  background: #fff;
  padding: 25px 0 14px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
#catalog-line > ul > li .wrap-product .cont-product .img-block {
  height: 165px;
  width: 224px;
  display: table;
  background: url("images/bg-product.png") center top no-repeat;
  float: left;
  margin: 0 0 0 28px;
}
#catalog-line > ul > li .wrap-product .cont-product .img-block span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#catalog-line > ul > li .wrap-product .cont-product .text-block {
  width: auto;
  margin: 7px 0 0 281px;
  position: relative;
}
#catalog-line > ul > li .wrap-product .cont-product .text-block > p {
  margin: 0;
  font-size: 10.5pt;
  padding: 10px 0 0 0;
}
#catalog-line > ul > li .wrap-product .cont-product .text-block .additional-info {
  position: absolute;
  top: 0;
  right: 35px;
}
#catalog-line > ul > li .wrap-product .cont-product .name {
  font-family: 'UniSansHeavyCaps';
  color: #f08303;
  font-size: 9pt;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
#catalog-line > ul > li .wrap-product .cont-product .name:hover {
  text-decoration: none;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 205px;
  float: left;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left p {
  margin: 0;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left p span {
  font-family: 'als_rublregular';
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left .price {
  font-family: 'UniSansHeavyCaps';
  font-size: 16pt;
  padding-top: 16px;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left .credit {
  font-size: 8pt;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left .credit a {
  color: #222c2c;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .f-left .credit a:hover {
  text-decoration: none;
}
#catalog-line > ul > li .wrap-product .cont-product .price-block .yellow-btn {
  float: right;
  font-family: 'UniSansHeavyCaps';
  margin: 21px 5px 0 0;
  padding: 0 13px;
}
#catalog-line > ul > li .wrap-product .cont-product .info-cont {
  overflow: hidden;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block {
  width: auto;
  margin: 14px 34px 0 240px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul {
  background: #ececec;
  overflow: hidden;
  padding: 0 16px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li {
  border-left: 1px dashed #b4b6b6;
  float: left;
  height: 48px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li:first-child {
  border-left: 0;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li p {
  margin: 0;
  text-align: center;
  color: #262f2f;
  font-weight: bold;
  font-size: 10pt;
  line-height: 48px;
  padding: 0;
  letter-spacing: 0.3px;
  padding-right: 13px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li .ico-block {
  float: left;
  width: 30px;
  padding: 10px 0 0 15px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li .ico-block i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li .ico-block i.one-person {
  background-position: -300px -5px;
  width: 16px;
  height: 14px;
  margin-bottom: 5px;
}
#catalog-line > ul > li .wrap-product .cont-product .about-block ul li .text-block {
  font-weight: bold;
  width: 78px;
  margin: 0 0 0 26px;
  font-size: 10pt;
  padding-top: 7px;
}
.additional-info {
  padding: 0 !important;
}
.additional-info a:hover {
  text-decoration: none;
}
.additional-info i {
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  display: inline-block;
  vertical-align: top;
}
.additional-info.gift-info a {
  color: #009dd0;
}
.additional-info.gift-info i {
  background-position: -277px -79px;
  width: 21px;
  height: 24px;
  margin: -5px 4px 0 0;
}
.additional-info.action-info a {
  color: #fc3636;
}
.additional-info.action-info i {
  background-position: -318px -127px;
  width: 18px;
  height: 19px;
  margin: -3px 5px 0 0;
}
@media (max-width: 1150px) {
  #main-slider .owl-controls .owl-buttons div.owl-prev {
    left: -10px;
  }
  #main-slider .owl-controls .owl-buttons div.owl-next {
    right: -10px;
  }
  #main-slider .owl-controls .owl-pagination {
    left: 50px;
  }
  #main-slider-content .text-block {
    left: 50px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1151px) {
  #main-slider .owl-controls .owl-buttons div.owl-prev {
    left: -70px;
  }
  #main-slider .owl-controls .owl-buttons div.owl-next {
    right: -70px;
  }
}
@media (min-width: 1400px) {
  #main-slider .item {
    height: 500px;
  }
  #main-slider-content .text-block {
    height: 400px;
  }
}
@media (min-width: 1700px) {
  #main-slider .item {
    height: 577px;
  }
  #main-slider-content .text-block {
    height: 477px;
  }
}